{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Your House Price</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="" name="CRIM" id="CRIM" placeholder="CRIM" step="any">
            <input type="number" name="ZN" id="ZN" placeholder="ZN"step="any">
            <input type="number" name="INDUS" id="INDUS" placeholder="INDUS"step="any">
            <input type="number" name="NOX" id="NOX" placeholder="NOX"step="any">
            <input type="number" name="RM" id="RM" placeholder="RM"step="any">
            <input type="number" name="AGE" id="AGE" placeholder="AGE"step="any">
            <input type="number" name="DIS" id="DIS"placeholder="DIS"step="any">
            <input type="number" name="RAD" id="RAD"placeholder="RAD"step="any">
            <input type="number" name="TAX" id="TAX"placeholder="TAX"step="any">
            <input type="number" name="PTRATIO" id="PTRATIO"placeholder="PTRATIO",step="any">
            <input type="number" name="B" id="B"placeholder="B"step="any">
            <input type="number" name="LSTAT" id="LSTAT"placeholder="LSTAT"step="any">

</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}